.c-about-hero {
    background-color: color(black);
    position: relative;

    @include media-breakpoint-up(lg) {
        min-height: 856px;
        display: flex;
        align-items: center;
        background-image: url('../images/header-shape-copy.svg');
        background-size: 50%;
        background-position: bottom left;
        background-repeat: no-repeat;
        padding: 200px 0;
    }

    @include media-breakpoint-down(md) {
        padding: 100px 0 60px;
    }

    .c-about-hero__image {
        display: none;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            display: block;
        }

        &:after {
            @include media-breakpoint-up(lg) {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $overlay-background-colour;
            }
        }

        img {
            @include media-breakpoint-up(lg) {
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
            }
        }
    }

    .c-about-hero__play {
        display: flex;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            justify-content: center;
            pointer-events: none;
            background: transparent !important;
        }

        @include media-breakpoint-down(md) {
            height: 300px;
            justify-content: center;
            margin-top: 40px;
            position: relative;
        }

        &:after {
            @include media-breakpoint-down(md) {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $overlay-background-colour;
            }
        }

        span {
            width: 106px;
            height: 106px;
            background-color: color(white);
            border-radius: 100%;
            z-index: 2;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: all;

            @include media-breakpoint-down(md) {
                width: 50px;
                height: 50px;
            }

            .watch-text {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                    color: color(white);
                    font-weight: $font-weight-bolden;
                    font-family: $headings-font-family;
                    position: absolute;
                    left: 125px;
                    top: 0;
                    line-height: 106px;
                    width: 150px;
                }
            }
        }
    }
}
