.c-contact {
    background-color: color(whiteSmoke);
    padding: 170px 0 200px 0;
    background-image: url('../images/contact-background.svg');
    background-repeat: no-repeat;
    background-position: 55vw 100%;

    @include media-breakpoint-down(lg) {
        background-position: bottom right;
        background-size: 50%;
    }

    @include media-breakpoint-down(sm) {
        padding: 100px 0 150px 0;
    }

    @include media-breakpoint-down(xs) {
        padding: 100px 0 120px 0;
    }

    @include media-breakpoint-down(sm) {
        background-size: 75%;
    }

    .c-contact__form {
        background-color: color(white);
        padding: 55px;
        width: 480px;
        max-width: 100%;
        border-radius: 2px;
        position: relative;

        @include media-breakpoint-down(xs) {
            padding: 30px;
        }

        .ajax-loader {
            position: absolute;
            bottom: 67px;
            left: 55px;

            @include media-breakpoint-down(xs) {
                left: 30px;
                bottom: 42px;
            }
        }

        .c-contact__form-submit {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease all;

            &.active {
                opacity: 1;
                visibility: visible;
            }

            .c-contact__popup-close {
                position: absolute;
                top: 55px;
                right: 55px;
                cursor: pointer;

                @include media-breakpoint-down(xs) {
                    top: 30px;
                    right: 30px;
                }

                i {
                    color: color(royalBlue);
                    font-size: 30px;
                }
            }
        }
    }
}
