.h-border-bottom {
    border-bottom: 1px solid;
}

.h-border-left {
    border-left: 1px solid;
}

.h-border-right {
    border-right: 1px solid;
}

.h-border--thick {
    border-width: 8px;
}

.h-border--spanish-grey {
    border-color: color(spanishGrey);
}

.h-border--coral {
    border-color: color(coral);
}

.h-border-dark-gray {
    border-color: color(darkGrey);
}

.h-border-blue {
    border-color: color(royalBlue);
}
