.h-width-47 {
    width: 9.4rem;
    max-width: 100%;
}

.h-width-52 {
    width: 10.4rem;
    max-width: 100%;
}

.h-width-114 {
    width: 22.8rem;
    max-width: 100%;
}

.h-width-115 {
    width: 23rem;
    max-width: 100%;
}

.h-width-165 {
    width: 33rem;
    max-width: 100%;
}

.h-width-191 {
    width: 38.2rem;
    max-width: 100%;
}

.h-width-full {
    width: 100%;
}
